/* Device Breakpoints */
@media only screen and (min-width: 320px) and (max-width:480px){

    /* Seccion Navbar */
    .navbg .navbar-nav li a {
        font-weight: 600;
        font-size: 10px;
    }

    /* Seccion Main */
    .main {
        width: 100%;
    }

    .info-left p {
        font-size: 20px !important;
        margin-bottom: 30px;
    }

    .info-left a {
        border-radius: 15px !important;
        font-size: 10px !important;
        line-height: 10px;
        margin-bottom: 100px;
    }

    .info-left {
        position: absolute;
        top: 60%;
        -ms-transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        transform: translateY(-60%) !important;
    }

    .info-left img {
        width: 90% !important;
        height: 90% !important;
        padding-left: 0;
        position: relative;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(50%) !important;
        text-align: left;
        float: left;
    }

    .rightside h5 {
        font-size: 12px;
    }

    .first img,
    .third img {
        height: 50px;
        width: 80px;
    }

    .second img {
        height: 80px;
        width: 50px;
    }


    /* Seccion Áreas */
    .areas {
        margin-top: 600px !important;
    }

    .areatitle {
        font-weight: 12px !important;
    }

    .texttitulo {
        font-size: 15px;

    }

    .container ul li a img {
        height: 20px;
        width: 40px;
    }

    ul li a.nav-link.tab-title.text-uppercase {
        font-size: 10px !important;
        width: 70px !important;
        height: 100px !important;
        line-height: 15px !important;
        text-align: center;
    }

    p.texttab {
        font-size: 10px !important;
    }

    .imgTab img {
        height: 40px;
        width: 60px;
    }

    .textobjetivo {
        font-size: 15px !important;
    }

    .standard {
        margin-top: 50px;
        height: 450px;
    }

    .standard-title {
        font-size: 25px;
        line-height: 30px;
    }

    .standard-info {
        font-size: 15px !important;
        line-height: 20px;
        text-align: center;
    }

    .cmmi,
    .iso,
    .nyce {
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-direction: column !important;
        width: 30% !important;
        height: 30% !important;
        margin-left: 8px;
    }

    .standard-sub {
        font-size: 12px;
        line-height: 20px;
        border-radius: 10px;
        margin-top: 1rem;
    }
.about{
    margin-top: 150px;
}

    .aboutTitle {

        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    .aboutInfo {

        font-size: 15px;
        line-height: 20px;
        text-align: center;
        border-left: none;
        padding-left: 0px;
    }
}


@media only screen and (max-width: 480px){
    .info-left p {
        font-size: 30px;
    }

    .info-left a {
        border-radius: 20px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 100px;
    }

    .info-left {
        position: absolute;
        top: 60%;
        -ms-transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        transform: translateY(-50%);
    }

    .info-left img {
        width: 90%;
        height: 90%;
        padding-left: 0;
        position: relative;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-15%);
        text-align: left;
        float: left;
    }

    .areas {
        margin-top: 600px;
    }

    .areatitle {
        font-weight: 12px !important;
    }

    .texttitulo {
        font-size: 15px;

    }

    .container ul li a img {
        height: 20px;
        width: 40px;
    }

    ul li a.nav-link.tab-title.text-uppercase {
        font-size: 10px !important;
        width: 70px;
        height: 100px;
        line-height: 15px !important;
        text-align: center;
    }

    p.texttab {
        font-size: 10px !important;
    }

    .imgTab img {
        height: 40px;
        width: 60px;
    }

    .textobjetivo {
        font-size: 15px !important;
    }

    .standard {
        margin-top: 50px;
        height: 450px;
    }

    .standard-title {
        font-size: 25px;
        line-height: 30px;
    }

    .standard-info {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }

    .cmmi,
    .iso,
    .nyce {
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-direction: column !important;
        width: 30%;
        height: 30%;
        margin-left: 8px;
    }

    .standard-sub {
        font-size: 12px;
        line-height: 20px;
        border-radius: 10px;
        margin-top: 1rem;
    }

    .aboutTitle {

        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    .aboutInfo {

        font-size: 15px;
        line-height: 20px;
        text-align: center;
        border-left: none;
        padding-left: 0px;
    }
}


@media only screen and (max-width: 768px){
    .info-left p {
        font-size: 40px;
    }

    .info-left a {
        border-radius: 20px;
        font-size: 20px;
        line-height: 20px;
    }

    .info-left {
        position: absolute;
        top: 60%;
        -ms-transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        transform: translateY(-60%);
    }

    .info-left img {
        width: 60%;
        height: 60%;
        padding-left: 0;
        position: relative;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(10%);
        text-align: left;
        float: left;
    }

    .areas {
        margin-top: 180px;
    }

    .areatitle {
        font-weight: 12px !important;
    }

    .texttitulo {
        font-size: 20px;

    }

    .container ul li a img {
        height: 20px;
        width: 40px;
    }

    ul li a.nav-link.tab-title.text-uppercase {
        font-size: 15px !important;
        width: 200px;
        height: 100px;
        line-height: 15px !important;
        text-align: center;
    }

    p.texttab {
        font-size: 15px !important;
    }


    .textobjetivo {
        font-size: 22px !important;
    }

    .standard {
        margin-top: 50px;
        height: 450px;
    }

    .standard-title {
        font-size: 30px;
        line-height: 30px;
    }

    .standard-info {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .cmmi,
    .iso,
    .nyce {
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-direction: column !important;
        width: 20%;
        height: 20%;
    }

    .standard-sub {
        font-size: 20px;
        line-height: 30px;
        border-radius: 10px;
        margin-top: 2rem;
    }

    .aboutTitle {
        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    .aboutInfo {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        border-left: none;
        padding-left: 0px;
    }
}