/* .google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
} */


.page-footer {
    background: #7CA2B2 !important;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}


.socialIcons .fa-facebook:hover, .socialIcons .fa-instagram:hover{
    color: #ED5353 !important;
}

a:hover{
    cursor:pointer;
    pointer-events: auto;
}