/* Posiciona por sobre toda la pagina el navbar */
#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

/* Elimina la sombra del navbar */
.navbg {
    box-shadow: none;
    background: transparent !important;
    padding: 15px 0;
    transition: all 0.5s ease-in-out;
}

/* Cambio de color navbar en hover */
.navbg:hover {
    background: rgb(211, 44, 52) !important;
}

.navbg.scrolled {
    background: rgb(211, 44, 52) !important;
}

/* elimina los bordes del dropdown menu */
.navbar .dropdown-menu {
    border: none;
    border-radius: 0 0 0 0 !important;
}

/* marge izquierdo del logo */
.navbar-brand img {
    margin-left: 20%;
}

/* Cambiar color links navbar */
.navbg .navbar-nav li a {
    color: black !important;
    text-transform: uppercase;
}

/* cambio de color de los links en hover del navbar */
.navbg:hover .navbar-nav li a {
    color: white !important;
}

/* borde inferior de los links en hover */
.navbg:hover .navbar-nav li.hoverBottom a:hover {
    border-bottom: 3px solid white;
    text-shadow: 2px 2px black;
}

/* cambio de color de los links en scroll */
.navbg.scrolled .navbar-nav li a {
    color: white !important;
}

/* Cambiar logo on hover */
.navbg:hover .logo {
    content: url('../img/white.svg');
}

/* Boton de contacto */
#btnred {
    background: white;
    color: rgb(211, 44, 52) !important;
    font-weight: 600;
    border-radius: 1rem;
    letter-spacing: .1rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
}

/* cambio de color en hover */
#btnred:hover {
    background: rgb(211, 44, 52) !important;
    color: white !important;
}

/* poligono*/
.navbg .polygon{
    transform: translateY(-3px);
}
/* poligono en blanco en scroll */
.navbg.scrolled .polygon {
    content: url('../img/Polygon-white.png');
    transform: translateY(-3px);
}

/* poligono en blanco en hover */
.navbg:hover .polygon {
    content: url('../img/Polygon-white.png');
    transform: translateY(-3px);
}



/* color de fondo en hover de los elementos del megamenu */
.nav-link.dropdown-item.dropdown-submenu.waves-effect.waves-light:hover,
.nav-link.waves-effect.waves-light.active:hover,
.nav-link.waves-effect.waves-light.active {
    background-color: rgba(245, 245, 245, 0.34);
}


/* espacio entre el contenido y el contorno */
#v-pills-tabContent {
    padding: 0 30px;
}



@media screen and (min-width:992px) {
    /* oculta el menu adiconal */
    .hiddenmega {
        display: none;
        list-style: none;
        text-align: center;
    }

    /* oculta el boton de contacto */
    .navbg .estimation {
        visibility: hidden;
        opacity: 0;
    }

    /* muestra en boton de contacto cuando se hace hover sobre el navbar */
    .navbg:hover .estimation {
        opacity: 1;
        visibility: initial;
    }

    /* muestra en boton de contacto cuando se hace en la pagina */
    .navbg.scrolled .estimation {
        visibility: initial;
        opacity: 1;
    }

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: 1rem .6rem;
        margin: 0 .5rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
        display: block !important;
    }

    /* color de fondo del megamenu */
    .navbar .dropdown-menu {
        background-color: rgb(211, 44, 52) !important;
        color: white !important;
    }

}


@media screen and (max-width:991px) {
    /* cambio de logo */
    .navbg .logo {
        content: url('../img/white.svg');
    }

    /* oculta el mega menu */
    li.dropdown {
        display: none !important;
    }

    /* color del navbar */
    .navbg {
        background: rgb(211, 44, 52) !important;
    }

    /* color de los links del navbar */
    .navbg .navbar-nav li a {
        color: white !important;
    }

    /* Elimina el borde inferior de los links */
    .navbg:hover .navbar-nav li.hoverBottom a:hover {
        border-bottom: none;
     }

     /* centra los links */
     .navbar-collapse ul li {
        display: block;
        text-align: center;
    }

    
}


@media screen and (min-width:1440px){
    .navbg .navbar-nav li a {
       font-size: 20px;
    }

    #btnred {
        margin-left: 100px;
        margin-right: 60px;
    }
}


