.areas {
    padding-top: 50px;
    padding-bottom: 50px;
}

.areas h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    color: #000000;
}

.box {
    width: 100%;
    height: auto;
    margin: auto;
    background: white;
    box-shadow: 0px 5px 10px #ccc;
}

.box ul {
    margin: 0;
    padding: 0;
    display: flex;
}

/* Espaciado entre la card y los iconos */
.box ul li img {
    margin-top: 30px;
}

.box ul li {
    margin: 0;
    padding: 0;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    cursor: pointer;

}




.box ul li h4 {
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
}

.box ul li.active h4 {
    color: rgb(211, 44, 52) !important;
}

.box ul li.active {
    border-bottom: 3px solid rgb(211, 44, 52) !important;
}

.content {
    padding: 30px;
}


.content .texttab {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #000000;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
}

.content .textobjetivo {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #00D2D2;
}

.areas .active {
    display: block;
}

.oculto {
    display: none;
}

.areas .content .btnProducts {
    font-size: 12px;
    color: white;
    background: #69E781 !important;
    border-radius: 20px;
    border: solid 2px #69E781;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-top: 30px;
}

.areas .content .btnWeb {
    font-size: 12px;
    color: white;
    background: #69E781 !important;
    border-radius: 20px;
    border: solid 2px #69E781;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-top: 30px;
}

.areas .content .btnDev {
    font-size: 12px;
    color: white;
    background: #69E781 !important;
    border-radius: 20px;
    border: solid 2px #69E781;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-top: 30px;
}

.areas .content .btnProducts:hover {
    color: #69E781;
    background: white !important;
    border: solid 2px #69E781;
}

.areas .content .btnWeb:hover {
    color: #69E781;
    background: white !important;
    border: solid 2px #69E781;
}

.areas .content .btnDev:hover {
    color: #69E781;
    background: white !important;
    border: solid 2px #69E781;
}

/*************************************** Modal Web********************************************/
#modalWeb .modal-content,
#modalWeb .card {
    background: white;
    color:  rgb(80, 116, 132);
    box-shadow: none;
}

#modalWeb .modal-title{
    padding-left: 20px;
}


#modalWeb img {
    width: 154px;
    height: 195px;
    margin-top: 20px;
}

#modalWeb .card-title {
    font-weight: bold;
    text-align: center;
}

#modalWeb .card-text {
    text-align: justify;
    color: rgb(80, 116, 132) !important;
}

#modalWeb .btnHyper {
    background: #7CA2B2;
    border-radius: 15px;
    color: white;
    border: 2px solid #7CA2B2;
}

#modalWeb .btnHyper:hover {
    background: rgb(243, 238, 238);
    border-radius: 15px;
    color: #7CA2B2;
    border: 2px solid #7CA2B2;
}


#modalWeb .close img {
    width: 50%;
    height: 50%;
}

#modalWeb .modal-body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
#modalWeb .modal-body::-webkit-scrollbar-track {
    background: #dcd5d5;
    border-radius: 10px;
}

/* Handle */
#modalWeb .modal-body::-webkit-scrollbar-thumb {
    background: #7CA2B2;
    border-radius: 10px;
}

/* Handle on hover */
#modalWeb .modal-body::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 116, 132);
}

.modal-header {
    border: none;
}

/*************************************** Modal Dev********************************************/
#modalDev .modal-content,
#modalDev .card {
    background: white;
    color:  rgb(80, 116, 132);
    box-shadow: none;
}

#modalDev .modal-title{
    padding-left: 20px;
}


#modalDev img {
    width: 154px;
    height: 195px;
    margin-top: 20px;
}

#modalDev .card-title {
    font-weight: bold;
    text-align: center;
}

#modalDev .card-text {
    text-align: justify;
    color: rgb(80, 116, 132) !important;
}

#modalDev .btnHyper {
    background: #7CA2B2;
    border-radius: 15px;
    color: white;
    border: 2px solid #7CA2B2;
}

#modalDev .btnHyper:hover {
    background: rgb(243, 238, 238);
    border-radius: 15px;
    color: #7CA2B2;
    border: 2px solid #7CA2B2;
}


#modalDev .close img {
    width: 50%;
    height: 50%;
}

#modalDev .modal-body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
#modalDev .modal-body::-webkit-scrollbar-track {
    background: #dcd5d5;
    border-radius: 10px;
}

/* Handle */
#modalDev .modal-body::-webkit-scrollbar-thumb {
    background: #7CA2B2;
    border-radius: 10px;
}

/* Handle on hover */
#modalDev .modal-body::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 116, 132);
}

.modal-header {
    border: none;
}

/*************************************** Modal Products********************************************/
#modalProducts .modal-content,
#modalProducts .card {
    background: white;
    color:  rgb(80, 116, 132);
    box-shadow: none;
}

#modalProducts .modal-title{
    padding-left: 20px;
}


#modalProducts img {
    width: 154px;
    height: 195px;
    margin-top: 20px;
}

#modalProducts .card-title {
    font-weight: bold;
    text-align: center;
}

#modalProducts .card-text {
    text-align: justify;
    color: rgb(80, 116, 132) !important;
}

#modalProducts .btnHyper {
    background: #7CA2B2;
    border-radius: 15px;
    color: white;
    border: 2px solid #7CA2B2;
}

#modalProducts .btnHyper:hover {
    background: rgb(243, 238, 238);
    border-radius: 15px;
    color: #7CA2B2;
    border: 2px solid #7CA2B2;
}



#modalProducts .close img {
    width: 50%;
    height: 50%;
}

#modalProducts .modal-body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
#modalProducts .modal-body::-webkit-scrollbar-track {
    background: #dcd5d5;
    border-radius: 10px;
}

/* Handle */
#modalProducts .modal-body::-webkit-scrollbar-thumb {
    background: #7CA2B2;
    border-radius: 10px;
}

/* Handle on hover */
#modalProducts .modal-body::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 116, 132);
}

/* #modalProducts .modal-dialog,
#modalProducts .modal-content {
    height: 500px;
} */






@media screen and (min-width:768px) {
    .areas h2 {
        font-size: 55px;
        line-height: 80px;
    }

    .areas p {
        font-size: 20px;
    }

    .content .texttab {
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
    }

    .content .textobjetivo {
        font-weight: 600;
        font-size: 24px;
    }

    .box ul li h4 {
        font-weight: 600;
        font-size: 20px;
    }

/* Web */
#modalWeb .card-text {
    text-align: left;
    font-size: 15px;
}

#modalWeb h3{
    text-align: center !important;
    padding-top: 10px;
}

#modalWeb .btn-link {
    text-align: left;
}



#modalWeb .close img {
    width: 60%;
    height: 60%;
}

#modalWeb .modal-dialog,
#modalWeb .modal-content {
/* 80% of window height */
height: 400px;
}

/* Móvil */
#modalDev .card-text {
    text-align: left;
    font-size: 15px;
}

#modalDev h3{
    text-align: center !important;
    padding-top: 10px;
}

#modalDev .btn-link {
    text-align: left;
}



#modalDev .close img {
    width: 60%;
    height: 60%;
}

#modalDev .modal-dialog,
#modalDev .modal-content {
/* 80% of window height */
height: 400px;
}


/* Products */
    #modalProducts .card-text {
        text-align: left;
        font-size: 15px;
    }

    #modalProducts h3{
        text-align: center !important;
        padding-top: 10px;
    }

    #modalProducts .btn-link {
        text-align: left;
    }

    .areas .content .btnWeb,
    .areas .content .btnDev,
    .areas .content .btnProducts {
        font-size: 15px;
        margin-top: 30px;
    }

    #modalProducts .close img {
        width: 60%;
        height: 60%;
    }

    #modalProducts .modal-dialog,
#modalProducts .modal-content {
    /* 80% of window height */
    height: 400px;
}

}


@media screen and (min-width:1024px) {
    #modalWeb .card-text,
    #modalDev .card-text,
    #modalProducts .card-text {
        text-align: justify;
        font-size: 15px;
    }

    #modalWeb .btn-link,
    #modalDev .btn-link,
    #modalProducts .btn-link {
        text-align: center;
    }

    #modalWeb .close img,
    #modalDev .close img,
    #modalProducts .close img {
        width: 60%;
        height: 60%;
    }

    .content .texttab {
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
    }

    #modalWeb .row,
    #modalDev .row,
    #modalProducts .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #modalWeb img,
    #modalDev img,
    #modalProducts img {
        width: 254px;
        height: 295px;
    }

    #modalWeb .modal-dialog,
    #modalWeb .modal-content,
    #modalDev .modal-dialog,
    #modalDev .modal-content,
    #modalProducts .modal-dialog,
    #modalProducts .modal-content {
        /* 80% of window height */
        height: 450px;
    }

}


@media screen and (min-width:1440px) {
    .areas h2 {
        font-size: 60px;
        line-height: 80px;
    }

    .areas p {
        font-size: 22px;
    }

    .content .texttab {
        font-weight: 300;
        font-size: 25px;
        line-height: 35px;
    }

    .content .textobjetivo {
        font-weight: 600;
        font-size: 32px;
    }

    .box ul li h4 {
        font-weight: 600;
        font-size: 20px;
    }

    #modalWeb .card-title,
    #modalDev .card-title,
    #modalProducts .card-title {
        font-size: 45px;
    }

    #modalWeb .card-text,
    #modalDev .card-text,
    #modalProducts .card-text {
        text-align: justify;
        font-size: 22px;
    }

    #modalWeb .btn-link,
    #modalDev .btn-link,
    #modalProducts .btn-link {
        text-align: center;
    }

    #modalWeb .btnHyper,
    #modalDev .btnHyper,
    #modalProducts .btnHyper {
        font-size: 20px;
    }

    #modalWeb .modal-title,
    #modalDev .modal-title,
    #modalProducts .modal-title {
        font-size: 35px;
        font-weight: bold;
        text-shadow: 1px 1px black;
    }

    .areas .content .btnWeb,
    .areas .content .btnDev,
    .areas .content .btnProducts {
        font-size: 20px;
    }

    #modalWeb .close img,
    #modalDev .close img,
    #modalProducts .close img {
        width: 80%;
        height: 80%;
    }

    #modalWeb .modal-dialog,
    #modalWeb .modal-content,
    #modalDev .modal-dialog,
    #modalDev .modal-content,
    #modalProducts .modal-dialog,
    #modalProducts .modal-content {
        /* 80% of window height */
        height: 500px;
    }
}